<?xml version="1.0" encoding="utf-8"?><JesterProject xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><TargetAssemblyPath>AnimalFarm.dll</TargetAssemblyPath><TestAssemblyPath>AnimalFarm.Tests.dll</TestAssemblyPath></JesterProject>